h1 {
    color: blue;
}

h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

img {
    width: 400px;
    border: 4px black dotted;
}

img:hover {
    border: 4px blue;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}

strong {

}